<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Resume</title>   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

<header class="bg-primary bg-gradient text-white py-5">


<div class="container">
  <h2>Bootstrap Image Thumbnail</h2>
  <p>Below is an image defined with the .img-thumbnail class to give it a rounded 1px border.</p>                  
  <img src="image1.jpg" class="img-thumbnail" alt="icon" width=
"200px" height="200px"> 
  <img src="image1.jpg" class="img-thumbnail" alt="icon" width=
"200px" height="200px"> 


</div>

<div class="container ">
  <div class="container" id="header">
    <div class="head text-center">
      <h1>Edward A. L&oacute;pez</h1>
      <div class="info-spacing">
        <div class="left col-md-6">
          <h3><span class="glyphicon glyphicon-home"></span>  5620 E. 66th Ave.<br>Commerce City, CO 80022</h3>
        </div>
        <div class="right col-md-6">
          <h3><span class="glyphicon glyphicon-envelope"></span> TheLopez.Solution@Gmail.com<br><span class="glyicon glyphicon glyphicon-earphone"></span>  720.243.2225</h3>
        </div>
      </div>
    </div>
  </div>



</header>

  </head>


<footer class="bg-dark text-white-50 text-center mt-5 p-3">
  &copy; 2020 Laura Collins - <a href="#" class="text-white-50">GitHub</a> | <a href="#" class="text-white-50">LinkedIn</a> | <a href="#" class="text-white-50">Twitter</a>
</footer>


  </body>
</html>